#main{
    background-color: #074436 !important;
    height: 100vh;
    padding-left: 3%;
  }

  .motivations{
    margin-top: 5px;
    background-color: rgba(211, 202, 185, 0.5) !important;


  }




  .categories{
    /* position: fixed;  */
    margin: 0 auto
  }
  .buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .btn{
    background: #fff !important;
    color: #074436 !important;
    margin: 5px;
    height: 40px;
    font-size: 17px;
  }
  .btn:hover{
    background-color: #074436 !important;
    color: #fff !important;
    border: 1px solid #fff !important;
  }

  .view-comment{
    text-decoration: none;
    font-weight: 800;
    color: #fff;
  }

  .card{
    margin-top: 5%;
    /* background-color: rgba(140, 154, 194, 0.5) !important; */
    background-color: rgba(22, 54, 80, 0.5) !important;
    color: aliceblue;


  }

  .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

  .card-footer{
    display: flex;
    justify-content: space-between;
  }

  .vid-link:hover{
    cursor: pointer;
  }

  i{
    padding: 0.5rem;
    color: rgb(15, 221, 25);
  }

  .motivation-loop{
    display: flex;
  }

  .video-icon{
    display: flex;
    justify-content: center;
  }

  .custom{
    background-color:rgb(149, 180, 192) !important;
    color: rgb(16, 20, 9) !important;


  }

  .custom:hover{
    background-color:rgb(26, 66, 5) !important;
    color: aliceblue !important;
    border:  1px solid green;

  }

  .view-details{
    background-color:rgb(164, 180, 185) !important;
    color: rgb(16, 20, 9) !important;
    border-radius: 25px;
    border:  1px solid rgb(11, 36, 28);
  }



  .all-btn{
    background-color:rgba(189, 214, 192, 0.9) !important;
    color: rgb(21, 8, 56) !important;
  }

  .subscribe{
    display: flex;
    justify-content: center;
    margin: 5px;
  }
