<div class="container-fluid login">
  <h1>Login</h1>
  <div class="row">
    <div class="col-md-5 login-form">
      <form action="" class="form">
        <div class="form-item">
          <label for="username">username</label>
          <input [(ngModel)]="login.username" name="username" type="text" class="input" placeholder="Username" required="required">
        </div>

        <div class="form-item">

          <label for="password">password</label>
          <input [(ngModel)]="login.password" name="password" type="password" class="input" placeholder="Password" required="required">

        </div>


        <div class="button">
          <button (click)="LoginUser()" type="submit" class="btn btn-success  signin-btn">
            Sign in
          </button>
        </div>



      </form>

    </div>
    <div class="col-md-7 login-image">
      <img src="assets/signin.png" alt="">
      <p>Dont have an account?</p>
      <div class="button">
        <a href="/signup"><button type="submit" class="btn btn-success  signup-btn">
            Sign up
          </button>
        </a>
      </div>

    </div>


  </div>


</div>
